<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>notBrowser</title>
</head>
<body>
    
   <div class="main">
    <h1>notBrowser</h1>
    <img src="img/logo.png" width="100px" height="100px" alt="">
    <p>notBrowser is a solution for your CORS-blocked responses.</p>
    by Sankalpa Acharya
    <div class="btn-holder">
     <a href="https://github.com/Sankalpa-Acharya/notBrowser"> <button class="docs-btn">Docs</button></a>
     <a href="https://github.com/Sankalpa-Acharya/notBrowser"> <button class="docs-btn">Github</button></a>
    </div>
   </div>

</body>
</html>