<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>notBrowser</title>
</head>
<body>
    
   <div class="main">
    <h1>notBrowser</h1>
    <img src="img/logo.png" width="100px" height="100px" alt="">
    <p>is a way through for your CORS blocked response</p>
    by Sankalpa Acharya
    <div class="btn-holder">
      <button class="docs-btn">Docs</button>
      <button class="docs-btn">Github</button>
    </div>
   </div>

</body>
</html>